@keyframes float{

0%{

transform:translateY(0px);

}

50%{

transform:translateY(-15px);

}

100%{

transform:translateY(0px);

}

}

.float{

animation:float 5s ease-in-out infinite;

}

@keyframes glow{

0%{

box-shadow:0 0 10px #6366F1;

}

50%{

box-shadow:0 0 30px #8B5CF6;

}

100%{

box-shadow:0 0 10px #6366F1;

}

}

.glow{

animation:glow 3s infinite;

}