:root{

--bg:#050816;

--primary:#6366F1;

--secondary:#8B5CF6;

--accent:#06B6D4;

--white:#ffffff;

--card:rgba(255,255,255,.05);

--glass:rgba(255,255,255,.06);

--border:rgba(255,255,255,.1);

}

html{

scroll-behavior:smooth;

}

body{

margin:0;

background:var(--bg);

color:white;

font-family:'Poppins',sans-serif;

overflow-x:hidden;

}

*{

box-sizing:border-box;

}

h1,h2,h3{

font-family:'Space Grotesk',sans-serif;

}

::-webkit-scrollbar{

width:10px;

}

::-webkit-scrollbar-track{

background:#050816;

}

::-webkit-scrollbar-thumb{

background:linear-gradient(#6366F1,#8B5CF6);

border-radius:20px;

}

::selection{

background:#6366F1;

color:white;

}

